<ion-content>
  <ion-col>
    <ion-row class="ion-justify-content-center" style="padding-top:.5em">
      <img class="chat1" src="../assets/EmailSent.svg" *ngIf="!show"/>
      <img class="chat2" src="../assets/LookyFound.svg" *ngIf="show" />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <img class="looky" src="../assets/Lookylooky.svg" />
    </ion-row>
    <ion-row style="padding:0em">
      <ion-col style="padding:0em">
        <ion-card>
          <ion-row class="ion-justify-content-center" style="margin-top:4em;">
            <ion-text class="header1" *ngIf="!show">Please verify your email</ion-text>
            <ion-text class="header1" *ngIf="show">Thanks [First Name]</ion-text>
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-top:1em;">
            <ion-text class="body-body" *ngIf="!show">Looky sent a verification email to:</ion-text>
            <ion-text class="body-body" *ngIf="show">Email Confirmed</ion-text>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-text class="body-body" *ngIf="!show">[user’s email address]</ion-text>
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-top:2em;">
            <ion-button color="tertiary" expand="full" (click)="show1()" *ngIf="!show">Resend Email</ion-button>
            <ion-button color="tertiary" expand="full" routerLink="../tabs/tabs/shop" *ngIf="show">Done</ion-button>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>
