<ion-grid style="position: absolute; top: 0; left: 0; min-width:100%; min-height:800px;">
  <app-login-background class="background"></app-login-background>
</ion-grid>
<ion-grid style="position: absolute; top: 0; left: 0; z-index: 9999;">
  <ion-row style="position: absolute; top: 75px; left: 0; z-index: 9999;">
    <ion-col>
      <ion-grid *ngFor="let chat of chats; let i=index" ng-style="chat.Hidden === true ? height: '0px' : ''" [ngClass]="chat.Hidden === true ? 'ion-hide' : ''" style="z-index:9999;" (click)="selectChat(chat)" id="chat{{i}}">
        <ion-row [ngClass]="chat.Selected ? 'no-padding bubble' : 'no-padding bubble transparent'" style="z-index:9999">
          <ion-col class="no-padding">
            <ion-text style="z-index:9999" *ngIf="!chat.Selected" [hidden]="chat.Hidden" ng-style="chat.Hidden === true ? height: '0px' : ''">{{chat.ShortText}}</ion-text>
            <ion-text style="z-index:9999" *ngIf="chat.Selected" [hidden]="chat.Hidden" ng-style="chat.Hidden === true ? height: '0px' : ''">{{chat.LongText}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="chat.Selected" class="no-padding" style="margin-top: -2px; z-index: 9999">
          <ion-col class="no-padding" style="z-index: 9999;">
            <img src="../assets/Taylors_Dip.svg" class="tail" style="z-index:9999" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="ion-justify-content-center" style="z-index:999; margin-top:22em;">
        <img src="../assets/Lookylooky.svg" style="z-index:999" />
        <img src="../assets/FirstAvenulogin.svg" style="padding-top: 1em; z-index: 999" />
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button color="tertiary" expand="block" style="padding-top: 1em; z-index: 999" routerLink="../app-login-register">Get Started!</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="padding-top: 1em; z-index: 999">
        <ion-text style="z-index:999;"> Already a member? <a href="signin">Login here</a>.</ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
