.cloud {
  z-index: 2;
}

.cloud2 {
  z-index: 2;
}

.cloud3 {
  z-index: 2;
}

.cloud4 {
  z-index: 2;
}

.cloud4 {
  z-index: 2;
}

.balloon {
  z-index: 2;
}

.airplane {
  z-index: 2;
}

.sailboat {
  z-index: 2;
}

.boat {
  z-index: 2;
}

.palms {
  z-index: 2;
}

.outer {
  overflow: hidden;
  position: relative;
}

.inner {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -100px;
  top: 50px;
  z-index: 3;
}

.inner2 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: -30px;
  top: 150px;
  z-index: 3;
}

.inner3 {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -10px;
  top: 200px;
  z-index: 3;
}

.inner4 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: -50px;
  top: 300px;
  z-index: 3;
}

.inner5 {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -31px;
  top: 325px;
  z-index: 3;
}

.inner6 {
  position: absolute;
  height: 0px;
  width: 100px;
  right: 0px;
  top: 25px;
  z-index: 3;
}
