<nav></nav>
<ion-content [fullscreen]="false">
  <div id="welcome-header">
    <ion-grid style="padding-top:.5em;">
      <ion-col>
        <ion-row>
          <ion-col>
            <h1 style="font-weight: 300; font-size: 44px !important;">Congratulations!</h1>
            <h4>First Avenu VIP! Where do you want to get started?</h4>
            <img style="width:100%;" src="../assets/Prequalify.svg" [routerLink]="['prequalify']" />
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <h2 style="font-weight: 300; font-size: 28px !important;">Vacations</h2>
            <img class="vacation" src="../assets/Vacation1.svg" />
          </ion-col>
          <ion-button class="vacation-button" color="light" style="min-width:75%; margin-top:-2em;" expand="full" routerLink="vacations">Over 3000 Destinations!</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <h2 style="font-weight: 300; font-size: 28px !important;">Special Offers</h2>
            <img class="special-offers" src="../assets/SpecialOffers.svg" />
          </ion-col>
          <ion-button class="special-offers-button" color="light" expand="full" style="min-width:75%; margin-top:-2em;" routerLink="shop-special-offers-landing">Special Offers For You!</ion-button>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
  <app-explore-container name="Shop page"></app-explore-container>
</ion-content>
