.getaway-button {
  z-index: 2;
  position: absolute;
  left: 15%;
  bottom: 0%;
  margin: auto;
}

.getaway {
  width: 100%;
}

.cruise-button {
  z-index: 2;
  position: absolute;
  left: 26%;
  bottom: 0%;
  margin: auto;
}

.cruise {
  width: 100%;
}
