div.reusable_accordion {
  z-index: 99;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px;
  height: 300px;
  background: rgb(31, 43, 55);
  width: auto;
}

div.template_accordion {
  div.template_containers {
    display: -webkit-box;
    display: flex;
    min-width: 45%;
    min-height: 60px;
    background: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    align-content: center;
  }
}

div.toggle_button {
  position: relative;
  background: rgb(31, 43, 55);
  width: 100px;
  text-align: center;
  padding: 15px;
  color: #FFF;
  cursor: pointer;
}
