.vacation-button {
  z-index: 2;
  position: absolute;
  left:11%;
  bottom: 0%;
  margin: auto;
}
.vacation {
  width: 100%;
}
.special-offers{
    width:100%
}
.special-offers-button {
  z-index: 2;
  position: absolute;
  left: 5%;
  bottom: 0%;
  margin: auto;
}
