/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;
}
.mat-h2{
    margin:0 0 5px !important; 
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'text-barlow-condensed' !important;
  color: rgba(20, 27, 65, 1) !important;
}
button-native {
  font-family: 'text' !important;
}
.header {
  font-weight: 300 !important;
  font-size: 40px !important;
  font-family: 'text-barlow-condensed' !important;
  color: #141B41 !important;
  margin:0 0 5px;
}
.header1 {
  font-weight: 300 !important;
  font-size: 22px !important;
  font-family: 'text-barlow-condensed' !important;
  color: #141B41 !important;
}
.header2 {
  font-weight: 700 !important;
  font-size: 24px !important;
  font-family: 'text' !important;
  color: #484751 !important;
}
.body-header {
  font-weight: 700;
  font-size: 18px;
  font-family: 'roboto';
  color: #141B41;
}
.body-body {
  font-weight: 400 !important;
  font-size: 14px !important;
  font-family: 'text' !important;
  color: #141B41 !important;
}
.nav {
  font-weight: 500 !important;
  font-size: 12px !important;
  font-family: 'text-barlow-condensed' !important;
  color: #141B41 !important;
}
.mat-panel-title {
  font-weight: 400 !important;
  font-size: 20px !important;
  font-family: 'text-barlow-condensed' !important;
  color: #141B41 !important;
}
.mat-expansion-panel-header {
  font-weight: 400 !important;
  font-size: 20px !important;
  font-family: 'text-barlow-condensed' !important;
  color: #141B41 !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
