.incomeSelect {
  /* Applies to the value and placeholder color */
  color: #000000;
  /* Set a different placeholder color */
  --placeholder-color: #971e49;
  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
  background-color:white;
  height:100%;
}
.incomeSelect::part(icon) {
  color: #971e49;
  opacity: 1;
}
ion-input {

}


