<nav></nav>

<ion-row>
  <h1 class="header">
    Your Agreeement
  </h1>
</ion-row>
<ion-row>
  <ion-card style="width: 100%">
    <ion-grid>
      <div *ngIf="!approved">
        <ion-row>
          <ion-col>
            <ion-row>
              <h2 class="header2">Agreement Signed</h2>
            </ion-row>
            <ion-row>
              <h2 class="header2">Thank You!</h2>
            </ion-row>
            <ion-row>
              <ion-text class="agreement-header">We are finalizing your agreement! This process should take less than a minute. Please do not reload or navigate away from this page.</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <img src="../assets/Drink-600.gif" />
        </ion-row>
      </div>
      <div *ngIf="approved">
        <ion-row>
          <ion-col>
            <ion-row>
              <h2 class="header2">Congratulations!</h2>
            </ion-row>
            <ion-row>
              <h2 class="header2">Your agreement is signed and your purchasing power will be available shortly.</h2>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-button color="tertiary" expand="full" routerLink="../">Let's Shop!</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-card>
</ion-row>

